// Normally mainpage styles
.wrapper {
	max-width: 1656px;
	width: auto;
}
.container {
	width: 1400px;
}
$font_r: 'Utsaah';
$color_light: #FEFEFE;
$color_dark: #333333;
$color: #00A6DB;
body {
	font-family: $font_r;
	font-size: 28px;
	color: $color_dark;
	line-height: 1;
}
p {
	color: $color_dark;
	font-size: 28px;
	line-height: 1;
	margin-bottom: 20px;
}
.title {
	color:#00A6DB;
	font-size: 75px;
	margin-bottom: 15px;
	font-weight: bold;
	line-height: 1;
}
 /*----------header----------*/

 .header{
	@include povh('');
	background: url(../img/top_block_bg.jpg) no-repeat center top;
	height: 930px;
	margin-bottom: 70px;
	.container {
		padding-top: 100px;
	}
	.btn_wrap {
		clear: both;
		margin-left: 105px;
		float: left;
		margin-top: -15px;
	}
	.video_wrap {
		float: right;
	}
 }
		.logo {
			margin-left: 20px;
			float: left;
		}
		.top_nav {
			float: right;
			margin-top: 20px;
			margin-bottom: 115px;
			a {
				font-size: 37px;
				color: $color_light;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			li {
				float: left;
				margin-left: 80px;
			}
		}
		.about_list {
			clear: both;
			float: left;
			margin-top: 50px;
			li {
				color: $color_light;
				margin-bottom: 25px;
				padding-left: 30px;
				background: url(../img/icons/white-marker.png) no-repeat left 8px;
				font-size: 42px;
				line-height: 1;
			}
		}
		.video_wrap {
			width: 604px;
			height: 402px;
			iframe{
				width: 100%;
				height: 100%;
			}
		}
		.btn_wrap {
			padding: 10px;
			border-radius: 25px;
			background: transparent;
			border: 2px solid #FF8A24;
			display: inline-block;
		}
			.btn_style{
				color: #fff;
				font-size: 42px;
				font-weight: bold;
				padding: 20px 50px;
				background: #FF8A24;
				border-radius: 20px;
			}
		.arrow_down {
			position: absolute;
	    bottom: 45px;
	    margin: 0 auto;
	    display: block;
	    left: 0;
	    right: 0;
	    cursor: pointer;
	    width: 37px;
	    background: none;
		}

/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
 }

//about_icons_wrap
.about_icons_wrap {
	text-align: center;
	padding-bottom: 60px;
	border-bottom: 2px solid #00A6DB;
	margin-bottom: 85px;
	li {
		width: 22%;
		margin-right: 3%;
		display: inline-block;
		vertical-align: top;
		&:last-child{
			margin-right: 0;
		}
	}
	img {
		margin-bottom: 30px;
	}
	strong {
		color: $color;
		font-size: 34px;
		margin-bottom: 15px;
		display: block;
	}
	p {
		text-align: left;
	}
}
//end about_icons_wrap

//how_works_wrap
.how_works_wrap {
	padding-bottom: 100px;
	margin-bottom: 90px;
	border-bottom: 2px solid #00A6DB;
	overflow: hidden;
	.video_wrap {
		float: left;
		margin-top: 20px;
	}
}
	.how_works_inner {
		float: right;
		max-width: 530px;
	}

//end how_works_wrap

//product_preview_wrap

.product_preview_wrap {
	padding-bottom: 90px;
	margin-bottom: 130px;
	border-bottom: 2px solid #00A6DB;
	.title{
		margin-bottom: 100px;
	}
	li {
		display: inline-block;
		margin-right: 27px;
		margin-bottom: 27px;
		&:last-child {
			margin-right: 0;
		}
	}
}
	.product_img {
		width: 251px;
		height: 249px;
		border: 2px solid #00A6DB;
		overflow: hidden;
		img {
			max-width: 100%;
			height: auto;
		}
	}

//end product_preview_wrap

//installation_wrap

.installation_wrap {
	padding-bottom: 90px;
	margin-bottom: 130px;
	border-bottom: 2px solid #00A6DB;
	.title {
		margin-bottom: 90px;
	}
}
	.installation_list {
		margin-bottom: 20px;
	}
		.installation_block {
			margin-bottom: 30px;
			overflow: hidden;
		}
		.installation_title {
			font-size: 41px;
			color: $color;
			font-weight: bold;
			padding-top: 30px;
		}
		.installation_content {
			float: left;
			clear: both;
		}
		.installation_img {
			float: right;
		}
		.installation_conclusion {
			font-size: 52px;
			font-weight: bold;
			color: $color;
		}
//end installation_wrap

//questions_wrap

.questions_wrap {
	padding-bottom: 40px;
	margin-bottom: 80px;
	border-bottom: 2px solid #00A6DB;
	overflow: hidden;
	.title {
		text-align: center;
		margin-bottom: 80px;
	}
}
.questions_block {
	max-width: 550px;
	display: inline-block;
	margin: 0 10px;
	li {
		padding-bottom: 58px;
		padding-left: 30px;
		border-left: 3px solid $color;
		position: relative;
		&:before {
			content: '';
			background: url(../img/icons/blue-marker.png) no-repeat;
			width: 25px;
			height: 25px;
			position: absolute;
			left: -12px;
			top: -13px;
		}
		&:last-child {
			border: none;
		}
	}
}
	.questions_title {
		font-size: 47px;
		color: $color;
		font-weight: bold;
		margin-bottom: 10px;
		margin-bottom: 40px;
		line-height: 0.2;
	}

//end questions_wrap


// story_wrap

.story_wrap {
	padding-bottom: 70px;
	margin-bottom: 80px;
	border-bottom: 2px solid #00A6DB;
	overflow: hidden;
	.title {
		margin-bottom: 50px;
	}
}
	.story_content {
		max-width: 790px;
		margin-right: 118px;
		float: left;
	}
	.story_user {
		display: inline-block;
		margin-left: 65px;
		text-align: center;
	}
	.story_user_photo {
		width: 167px;
		height: 167px;
		border-radius: 100px;
		overflow: hidden;
		margin-bottom: 20px;
		border: 6px solid $color;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.story_user_name {
		font-size: 27px;
	}

//end story_wrap

/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
 }

/*----------end footer----------*/